/////////////////////////////////////////////////////////////
//--(HOME)------------------------------------------------//
///////////////////////////////////////////////////////////

// CARD CONTAINER
.cardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100vh - 6rem);

  padding: 3rem;
}